# Default ignored files
/../../ExpressionEvaluation /.idea/shelf/
/../../ExpressionEvaluation /.idea/workspace.xml
# Editor-based HTTP Client requests
/../../ExpressionEvaluation /.idea/httpRequests/
# Datasource local storage ignored files
/../../ExpressionEvaluation /.idea/dataSources/
/../../ExpressionEvaluation /.idea/dataSources.local.xml
